@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

#app > .app {
  overflow: hidden;
  width: 100%;
  height: 175%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: top 0.5s; /* Safari */
     -moz-transition: top 0.5s;
          transition: top 0.5s;
  overflow: hidden;
  -webkit-transition-delay: 1.5s; /* Safari */
          transition-delay: 1.5s;

  @include respond-to(portrait) {
    height: 180%;
  }
  @include respond-to(landscape) {

  }
  @include respond-to(wide) {
    height: 170%;
  }

  &:not(.topactive) {
    top: -75%;
    // top: -75vh;
    -webkit-transition-delay: 0s; /* Safari */
            transition-delay: 0s;
    @include respond-to(portrait) {
      top: -80%;
      // top: -80vh;
    }
    @include respond-to(landscape) {

    }
    @include respond-to(wide) {
      top: -70%;
    }
  }

  &.topactive {
    > .list {
      pointer-events: none;
    }
  }

  > .loader {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    -webkit-transition: left 0.25s, opacity 0.5s; /* Safari */
       -moz-transition: left 0.25s, opacity 0.5s;
            transition: left 0.25s, opacity 0.5s;
    -webkit-transition-delay: 1s; /* Safari */
            transition-delay: 1s;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    > img {
      margin: auto;
      width: 120px;
      height: 120px;
    }

    &.active {

      overflow: hidden;
      // left: -100%;
      opacity: 0;
    }
  }

  > .earth {
    z-index: 500;
    height: 24px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
            flex-direction: row;

    position: fixed;
    right: 2px;
    top: 2px;

    cursor: pointer;

    > img {
      height: 100%;
      width: auto;
    }
    > .icon {
      transform-origin: 50% 50%;
      transform: rotate(0deg);
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    &:hover {
      > .icon {
        animation-name: spin;
      }
    }
  }
}
